@font-face {
  font-family: "thin";
  src: url("C:\Users\Alucard's PC\Desktop\ReactForWeb\website-no-1\src\fonts\Raleway-VariableFont_wght.ttf");
}

* {
  font-family: "thin";
  color: rgb(83, 83, 83);
}



.App {
  /* background-color: rgb(239, 239, 239); */
  background-image: url("pics/@Wallpaper_4K3D\ \(13160.JPG");
  background-size: cover;
  background-repeat: no-repeat;


  /* overflow: scroll; */
  position: fixed;
  /* padding-top: 70px; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

}

button {
	background-color: rgb(255, 255, 255);
	min-width: 50px;
	height: 50px;
	/* width: -moz-fit-content; */
	width: fit-content;
	box-shadow: 1px 1px 5px rgb(198, 198, 198);
	border: none;
	border-radius: 12px !important;
	cursor: pointer;
	padding: 10px 10px;
	font-size: 12px !important;
	transition: .1s !important;
}

button:hover {

  box-shadow: 1px 1px 5px rgb(142, 142, 142);
}

button:active {
  scale: .95 !important;
  background-color: rgba(111, 42, 42, 0.31) !important;
  backdrop-filter: blur(15px) !important;
}


.disNone {
  transition: .3s !important;
  display: none !important;

}

.webContainer {
  height: 100%;
  background-color: rgb(35, 35, 35);
}
.topIntro {
	background: #ffffffdb;
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	border-top: 2px solid gray;
	min-height: 800px;
	height: -moz-fit-content;
	height: fit-content;
	padding-bottom: 150px;
	padding-top: 150px;
	top: 0px;
	transition: .3s;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AnnounceParent {
	min-height: 500px;
	height: -moz-fit-content;
	height: fit-content;
	background: #ce0000d6;
	border-radius: 12px;
	display: flex;
	padding: 15px;
	justify-content: space-between;
	align-items: start;
	flex-direction: column;
	/* box-shadow: 2px 2px 3px rgb(106, 106, 106); */
	-webkit-backdrop-filter: blur(28px);
	backdrop-filter: blur(28px);
}
.imgContainer {
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  height: 250px !important;
  padding: 5px;
  overflow: visible;
}


.borderDiv {
  width: 90%;
  border-bottom: 1px solid gray;
}

.middleSection {
  min-height: 900px !important;
  height: fit-content;
  background: #ffffff08;

}

.appCont {
  overflow-y: scroll;
}

footer {
  border-top: 2px solid gray;
  height: 500px;
  margin-top: 120px;
  backdrop-filter: blur(20px);
  background: #191919;
  bottom: 0px;
}



.start {

  display: flex;
  justify-content: start;
  align-items: start;
}


.BtnTitle {
  height: 200px;
  width: 200px;
  font-size: 160px;
  color: #5600007e;
  transition: .3s;
}

.BtnTitle:hover {
  scale: 1.1;
}


.widthNone {
  /* width: 0px !important; */
  /* scale: 0; */
  opacity: 0;
  z-index: -1 !important;
  /* display: none !important; */
}

.btn-shop {
  width: 150px;
}

.btnShopContainer {
  margin-top: 25px;
}

.productParent>div {
  margin-top: 25px;

}

.addProductTitle {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 3px;
  color: #191919;
  font-size: 26px;
  font-weight: 500;
  margin-top: 10px;
}

input {
  border-radius: 15px;
}


input:focus {
  border: none;
  outline: none;

}


.addProductPrice {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 3px;
  color: rgb(152, 24, 24);
  margin-left: 10px;
  font-size: 20px;
  font-weight: 420;
}

.prodButtonCont {
  margin-top: 49px !important;
}


.prodButtonCont>button {
  background-color: rgb(76, 76, 229);
  color: rgb(233, 233, 233);
}

.floatingGrabberParent {
  position: sticky;
  height: 80px;
  margin-top: -100px;
  margin-left: -200px;
  border-radius: 12px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #8f33332c;
  /* z-index: 9999 !important; */
  backdrop-filter: blur(5px);
  border-bottom-right-radius: 0px;
}

.headContainer {
  padding-right: 45px;
}
.AnnounceParentExtention {
  width: 309px !important;
}


.AnnounceParent > h1 , .AnnounceParent > h2 {
color: rgb(225, 225, 225);
}
.AnnounceParentBgCustom {
	background-color: rgb(255, 255, 255) !important;
	min-width: 210px !important;
  width: fit-content !important;
}
.AnnounceParentBgCustom > div {
  min-height: 400px !important;
  height: fit-content !important;
}

img {
  border: 1px solid rgba(0,0,0,0) !important;
  background: #aa0000;
}

.backArrow , .forwardArrow {
  margin: 10px !important;
  min-width: 15px;
  height: 15px !important;
  width: 15px !important;
  padding: 0px !important;
}
